body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.middleDiv {
    background-color: rgb(220, 159, 255);
    height: 100vh;
    width: 70vw;
    z-index:-1
}

.sideDiv {
    background-color: white;
    height: 100vh;
    width: 30vw;
    border: solid;
}

main {
    height: 100vh;
    width: 70vw;
}