body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

main {
    background-color: rgb(220, 159, 255);
    height: 150vh;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

#sideLeft {
    background-color: white;
    height: 150vh;
    width: 30vw;
    background-image: linear-gradient(to right,white, rgb(114, 114, 114));
    
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border: 1px solid black;
  }
  
  a:hover, a:active {
    background-color: gray;
    color: white;
    border: 1px solid black;
  }

#sideRight {
    background-color: white;
    color: black;
    height: 150vh;
    width: 30vw;
    background-image: linear-gradient(to left,white, rgb(114, 114, 114));
    
}


#info {
    display: flex;
    flex-direction: row;
    
    
}

#main {
   
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    border-top: 1px solid black;
    
}
#sideBar{
    width: 10vw;
    margin-left: 0;
    height: 125vh;
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    
}

#name {
    border-bottom: 1px solid black;
}
p {
    padding: 0;
    margin: 0;
}
#skills{
    padding: 10px;
    margin-top: 10px;
    
}
#list {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.list{
    margin-left: 50px;
    margin-right: 50px;
}



#cards {
    display: flex;
    flex-direction: row;
    
}

.card{
    margin: 50px;
}

#experience{
    background-color: white;
    padding-top: 50px;
}

#certification {
    padding: 50px;
    
    background-color: white;
}

#projects{
    background-color: white;
    
    border-top: 1px solid black;
    padding: 50px;
}

.education {
    padding: 50px;
    
}
#education {
    margin: 50px;
}

#edu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

