body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

main {
    background-color: rgb(220, 159, 255);
    height: 150vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
}

#sideLeft {
    background-color: white;
    height: 150vh;
    width: 30vw;
    background-image: linear-gradient(to right,white, rgb(114, 114, 114));
    
}

#sideRight {
    background-color: white;
    height: 150vh;
    width: 30vw;
    background-image: linear-gradient(to left,white, rgb(114, 114, 114));
    
}


#header {
    display: flex;
    text-align: center;
    justify-items: center;
    font-size: 2.5vw;
    margin-top: 0;
    
}
   
    
#image {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}

#trapezoid {
	border-bottom: 50px solid #f5ff6860;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
}

