body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

main {
    background-color: rgb(220, 159, 255);
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sideLeft {
    background-color: white;
    height: 100vh;
    width: 30vw;
    background-image: linear-gradient(to right,white, rgb(114, 114, 114));
    
}

#sideRight {
    background-color: white;
    height: 100vh;
    width: 30vw;
    background-image: linear-gradient(to left,white, rgb(114, 114, 114));
    
}


#header {
    display: flex;
    flex-direction: row;
}

.header {
    font-size: xx-large;
}

#computer {
    width: 20vw;

}

#desk {
    width: 80vw;
    z-index: -1;
}
