body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

main {
    background-color: rgb(220, 159, 255);
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sideLeft {
    background-color: white;
    height: 100vh;
    width: 30vw;
    background-image: linear-gradient(to right,white, rgb(114, 114, 114));
    
}

#sideRight {
    background-color: white;
    height: 100vh;
    width: 30vw;
    background-image: linear-gradient(to left,white, rgb(114, 114, 114));
    
}


#header {
    display: flex;
    flex-direction: row;
    
}
#header.container{
    text-align: center;
}

.header {
    font-size: 15vw;
}
#images {
    position: relative;
    top: 0;
    bottom: 0;
    justify-content: center;
}
#computer {
    position: relative;
    width: 20vw;
    z-index: 1;

}

#desk {
    position: absolute;
    width: 95vw;
    top: 30px;
    justify-items: center;
    
    
}
